html{
    margin: 0;
    padding: 0%;
    background: black;
    
    }

    body{
        background: black;
    }
    
header, h1{
    margin:0;
    padding: 0%;
    background: black;
    text-align: center;
    color: #fff;
}
nav{
    background:black;
}
nav h2{
    color: #fff;
    padding: 0%;
    background:black;
    text-align: center;
    
    }
p{
    text-align: center;
    background: black;
}

section{
    margin:0;
    padding: 0%;
    background:black;
    text-align: center;
    color: #fff;
}

.imagen1{

    width: 25%;
    height: 200px;
}

